em {
	color: rgb(201, 24, 24);
	font-style: normal;
}

#ninja {
	margin: 1em 0em 1em 6em;
}

#cost {
	margin-left: 1em;
	float: left;
}

#sort-by {
	display: none;
}

#sort-bar {
	margin-left: 1.5em;
}

#item {
	margin-left: 1em;
	border-top: 1px solid #ebebeb;
}

#item-title {
	font-size: 1.2em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-right: 1em;
}
#item-content {
	display: none;
}

#item-avatar {
	float: left;
	margin-right: 1em;
	width: 35px;
}

#item-info-main {
	margin-top: 0em;
	margin-right: 2em;
}

#item-extra {
	font-size: x-small;
	padding-left: 1em;
}
