em {
	color: rgb(201, 24, 24);
	font-style: normal;
}

a {
	color: #065FB4;
}

#search-form {
	margin-top: 3em;
}

#cost {
	float: left;
	margin-right: 2em;
}

#item {
	width: 50%;
	padding-bottom: 1em;
}

#item-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: normal;
}

#item-content {
	font-color: #545454;
	word-wrap: break-word;
}

#item-info {
	color: #888;
	font-size: x-small;
}

#item-extra {
	color: #888;
	font-weight: bold;
}

#item-avatar {
	float: left;
	margin-right: 1.5em;
	width: 28px;
}

#item-info> p {
	margin-bottom: 0.3em;
}

#search-container {
	width: 102%;
	background-color: #fefefe;
	padding-top: 2em;
	margin-left: -9em;
}

.container {
	margin-left: 8em;
}

.pagination {
	margin-left: -1em;
}

#ninja {
	float: left;
	margin-right: -1em;
}

.pagination .active a  {
	background-color: #000;
	border-color: #000;
}
.pagination .active a:hover {
	background-color: red;
	border-color: red;
}
.pagination> li> a {
	color: #000;
}
.pagination> li> a:hover {
	color: red;
}

/* stats */
#histats_counter {
	display: none;
}
